.page[b-21dvl89cfc] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-21dvl89cfc] {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:rgb(197, 234, 255);
    flex: 1;
    min-height: 100vh;
}

#logindisplay[b-21dvl89cfc]{
    text-align: right;
    font-size: smaller;
    padding: 1em;
}

#footerdisplay[b-21dvl89cfc]{
    text-align: left;
    font-size: xx-small;
    padding: 1em;
    position: absolute;
    bottom: 0;
    margin-top: 4em;
}

.sidebar[b-21dvl89cfc] {
    background-image: linear-gradient(rgb(7, 17, 13), rgb(197, 234, 255));
}

.top-row[b-21dvl89cfc] {
    background-color: rgb(7, 17, 13);
    border-bottom: 1px solid rgb(197, 234, 255);
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-21dvl89cfc]  a, .top-row .btn-link[b-21dvl89cfc] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-21dvl89cfc] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-21dvl89cfc] {
        display: none;
    }

    .top-row.auth[b-21dvl89cfc] {
        justify-content: space-between;
    }

    .top-row a[b-21dvl89cfc], .top-row .btn-link[b-21dvl89cfc] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-21dvl89cfc] {
        flex-direction: row;
    }

    .sidebar[b-21dvl89cfc] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-21dvl89cfc] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-21dvl89cfc], article[b-21dvl89cfc] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
