@inherits LayoutComponentBase

<PageTitle>Ouroborosearch</PageTitle>

<div class="page">
    <main>
        <LoginDisplay />

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
