@inherits LayoutComponentBase

<PageTitle>Ouroborosearch</PageTitle>

<div class="page">
    <main>
        <div id="logindisplay">
            <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>

        <div id="footerdisplay">
            <footer>By Arnold Sunneräng</footer>
        </div>
    </main>
</div>

